.big-box {
    width: 500px;
    height: 500px;
}

.bg-blue {
    background-color: blue;
}

.md-box {
    width: 250px;
    height: 250px;
}

.bg-red {
    background-color: red;
}

.sm-box {
    width: 150px;
    height: 150px;
}

.bg-ylw {
    background-color: yellow;
}

.flex-box {
    display: flex;
}

.flex-center {
    justify-content: center;
    

}
